@model IEnumerable<Employee.Frontend.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                <a class="btn btn success" href="Country/AddOrEdit/@item.Id">Edit</a>
            </td>
                <td>
                    <a class="btn btn danger" href="Country/Delete/@item.Id" onclick="return confirm('Are You Sure? you want to delete this item?')">Delete</a>
                </td>
@*            <td>
                    @Html.ActionLink("Edit", "AddOrEdit", new { @item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { @item.Id})
            </td>*@
        </tr>
}
    </tbody>
</table>
